<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formykunu</title>
    <style>
       

        .kunu {
            text-align: center;
        }

        .video {
            margin-left: 10%;
        }
    </style>
</head>
<body>
    <div class="kunu">
        <p>Happy Birthday Abdu</p>
        <p>I know you love to do things alone and suffer alone , but how can i leave you alone when you have me .?</p>
        <p>I love you kunu , I love you for a thousand years </p>
        <p>Mwahhhhh</p>
    </div>
    <video class="video" width="1000" height="440" controls>
        <source src="/static/kunu/kunu1.mp4">
        Your browser does not support the video tag.
    </video>
</body>
</html>
